@use "../abstracts/variables" as *;
@use "../abstracts/placeholders" as *;
@use "../abstracts/mixins" as *;

.navbar {
    @include flexbox-centered(space-between);
    background-color: $lightgray-bg;
    padding: 15px 45px;
    border-bottom: 1px solid $lightgray;
    position: sticky;
    top: 0;
    z-index: 1;

    .logo {
        padding: 0;
        
        h3 {
            font-weight: 500;
            font-size: 18px;
        }
    }

    // Replace navigation with hamburger menu
    .nav-container {
        @include flexbox-centered(space-evenly);
    
        .nav-item {
            list-style-type: none;
            padding: 10px 35px;
    
            &__link {
                text-decoration: none;
                color: #000000;
                position: relative;
                transition: color 0.5s;

                &:after {
                    @extend %current-dest;
                    background-color: $purple;
                    width: 0;
                    transition: all 0.5s;
                }

                &:hover {
                    color: $purple;
                }

                &:hover:after {
                    width: 50%;
                }
            }

            .current {
                color: $purple;

                &:after {
                    @extend %current-dest;
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        .logo {
            padding: 0 35px;
        }
    }
}