@use "../abstracts/variables" as *;

.cards-container {
    display: grid;
    row-gap: 10px;
    justify-items: center;

    a {
        text-decoration: none;
        color: inherit;
    }

    .card {
        width: 380px;
        border: 1px solid $lightgray;
        border-radius: 10px;
        padding: 5px;
        text-decoration: none;
    
        img {
            height: 208.5px;
            width: auto;
            border-radius: 8px;
        }

        .project-content {
            margin-left: 5px;

            h4 {
                font-size: 20px;
                margin: 5px 0;
            }
    
            p {
                margin-bottom: 2px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .cards-container {
        .card {
            width: 330px;

            img {
                height: 180px;
                width: auto;
            }
        }
    }
}