@use "../abstracts/variables" as *;
@use "../abstracts/placeholders" as *;

.about {
    width: 600px;
    margin: 0 auto;
    padding-top: 30px;

    p {
        margin-top: 10px;
    }

    .socials {
        text-align: center;
        font-size: 48px;
        margin-top: 35px;

        &__icon {
            margin: 30px;
            color: $purple;
        }
    }
}