@use "../abstracts/variables" as *;

.about {
    width: 600px;
    margin: 20px auto;

    h2 {
        text-align: center;
        padding-bottom: 10px;
        font-size: 48px;
        color: $purple;
    }

    p {
        margin-top: 10px;
    }

    .socials {
        text-align: center;
        font-size: 48px;
        margin-top: 35px;

        &__icon {
            margin: 30px;
            color: $purple;
        }
    }
}