@use "../abstracts/variables" as *;
@use "../abstracts/placeholders" as *;

.home {
    padding: 30px 70px 10px;
    display: grid;
    text-align: center;

    h1 {
        font-size: 42px;

        span {
            color: $purple;
        }
    }

    img {
        height: 420px;
        filter: blur(6px);
        padding: 35px 0 25px;
        margin: 0 auto;
    }

    h3 {
        font-size: 18px;
        padding-top: 20px;
    }
}

@media screen and (min-width: 768px) {
    .home {
        grid-template-columns: 2fr 1fr;

        h1 {
            font-size: 56px;
        }

        h3 {
            font-size: 24px;
        }

        h1, h3 {
            text-align: left;
        }

        img {
            height: 445px;
            padding: 0;
            margin-left: auto;
        }
    }
}

@media screen and (min-width: 992px) {
    .home {
        h1 {
            font-size: 68px;
        }

        h3 {
            font-size: 28px;
        }

        img {
            height: 500px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .home {
        h1 {
            font-size: 84px;
        }
    }
}