@use "../abstracts/placeholders" as *;

.portfolio {
    padding-top: 30px;

    p {
        text-align: center;
        padding: 165px 0;
    }

    .projects-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        row-gap: 30px;
        margin: 10px 20px 0;
    
        h3 {
            text-align: center;
            padding-bottom: 10px;
        }
    }
}

@media screen and (min-width: 768px) {
    .portfolio {

        p {
            padding: 155px 0;
        }

        .projects-container {
            flex-direction: row;
        }
    }
}

@media screen and (min-width: 992px) {
    .portfolio {
        .projects-container {
            margin: 10px 60px 0;
        }
    }
}